html {
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 16px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  --font: "Nunito Sans", sans-serif;
  --dark-mode-elements: hsl(209, 23%, 22%);
  --dark-mode-background: hsl(207, 26%, 17%);
  --light-mode-text: hsl(200, 15%, 8%);
  --input: hsl(0, 0%, 52%);
  --background: hsl(0, 0%, 98%);
  --dark-mode-text-and-light-mode-elements: hsl(0, 0%, 100%);
  --image-white: url("Vector.png");
  --arrowMenu-white: url("arrowMenuBlack.svg");
  --arrow-Top: url("arrowMenuWhite.svg");
  margin: 0;
  overflow-x: hidden;
  background-color: var(--background);
}

body.classDark {
  --dark-mode-background: hsl(0, 0%, 100%);
  --light-mode-text: hsl(0, 0%, 100%);
  --background: hsl(207, 26%, 17%);
  --dark-mode-elements: none;
  --input: none;
  --dark-mode-text-and-light-mode-elements: hsl(209, 23%, 22%);
  --image-white: url("arrowLeftWhite1.png");
  --arrowMenu-white: url("arrowMenuWhite.svg");
  --arrow-Top: url("arrowMenuBlack.svg");
  background-color: var(--background);
  box-shadow: none;
}

img {
  max-width: 100%;
}

#main {
  max-width: 1440px;
  margin: auto;
  position: relative;
}
/* Header*/
.error {
  display: block;
  margin: 0 auto;
  color: var(--light-mode-text);
}
header {
  height: 80px;
  width: 100%;
  margin: 0 auto;
  box-shadow: 0px 0px 5px var(--input);
  background-color: var(--dark-mode-text-and-light-mode-elements);
  box-shadow: 0px 0px 5px var(--input);
}

.containerheader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
  margin: 0 auto;
  height: 100%;
}
.header_title {
  font-size: 24px;
  font-weight: 700;
  color: var(--light-mode-text);
}
.container_button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  width: auto;
  align-items: center;
  cursor: pointer;
  outline: none;
  border: none;
  background-color: transparent;
}
.container_button {
  color: var(--light-mode-text);
}
.container_button__title {
  margin-left: 0.5rem;
  font-weight: 400;
  color: var(--light-mode-text);
}
.dark_mode {
  width: 1.5rem;
  margin-right: 0.5rem;
}

/* Input */
.searchCountry {
  width: 60%;
  display: flex;
  height: 50px;
  margin: 2rem 0;
  justify-content: left;
  align-content: center;
  box-shadow: 0px 1px 5px var(--input);
  border-radius: 5px;
  background-color: var(--dark-mode-text-and-light-mode-elements);
}

.searchCountry img {
  background-color: white;
  width: 40px;
  padding: 0.5rem;
  margin-left: 1rem;
  background-color: var(--dark-mode-text-and-light-mode-elements);
}
.select-flag {
  display: inline-block;
  position: absolute;
  width: 30%;
  top: 0;
  right: 0;
}
.searchCountry input {
  border: none;
  padding: 0.5rem;
  width: 90%;
  outline: none;
  color: var(--light-mode-text);
  background-color: var(--dark-mode-text-and-light-mode-elements);
}

/* Filter */

.mainFilter {
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0px 1px 5px var(--input);
  border-radius: 5px;
  background-color: var(--dark-mode-text-and-light-mode-elements);
  width: 100%;
  margin-bottom: 0.5rem;
  cursor: pointer;
  color: var(--light-mode-text);
}

.mainFilter img {
  width: 15px;
  transform: rotate(180deg);
}

.options {
  box-shadow: 0px 1px 5px var(--input);
  border-radius: 5px;
  background-color: var(--dark-mode-text-and-light-mode-elements);
  width: 100%;
  position: absolute;
  padding: 0.5rem 0;
  cursor: pointer;
  color: var(--light-mode-text);
  transition: all 0.3s ease;
}
.options p {
  display: block;
  padding: 0.5rem 1.2rem;
  cursor: pointer;
  margin: 0;
  color: var(--light-mode-text);
}

.options p:hover {
  background-color: var(--dark-mode-background);
  color: var(--background);
}

.deleteFilter {
  font-weight: 700;
  color: rgb(202, 43, 43);
  cursor: pointer;
}

.none {
  display: none;
}
#containerFlags {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  width: 100%;
  height: auto;
  gap: 47px;
}

.flag {
  background-color: var(--dark-mode-text-and-light-mode-elements);
  display: flex;
  flex-direction: column;
  box-shadow: 0px 1px 5px var(--input);
  border-radius: 10px;
  margin: 1rem auto;
}
.flag_image {
  width: 100%;
  height: 209px;
}
.flag a {
  width: 100%;
  height: 100%;
  display: block;
}
.flag a img {
  aspect-ratio: 3.2 / 2;
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.flag_short__description {
  margin: 1rem 0 1rem 1.5rem;
  color: var(--light-mode-text);
}
.flag_short__description p {
  color: var(--light-mode-text);
}
.title_flag {
  margin: 0;
  color: var(--light-mode-text);
}
.filter {
  display: none;
}

/* Single Flag */
.backHome {
  width: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  /* height: 30px; */
  /* padding: 0.5rem; */
  margin: 2rem 0 4rem;
  background-color: var(--dark-mode-text-and-light-mode-elements);
  border: none;
  outline: none;
  box-shadow: 0px 1px 5px var(--input);
  cursor: pointer;
}
.back {
  background: var(--image-white);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 25px;
  height: 25px;
}
.filterRegionArrow {
  background: var(--arrowMenu-white);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 25px;
  height: 25px;
  line-height: 50px;
  transition: transform 0.3s ease;
}
.rotate {
  transform: rotate(180deg);
}
.backHome p {
  color: var(--light-mode-text);
  padding: 0.2rem;
}
.backHome img {
  transform: rotate(-90deg);
  width: 20%;
  margin-right: 1rem;
}
.container-flag {
  display: flex;
  justify-content: space-between;
}
.imgContainer {
  width: 40%;
  margin-right: 3rem;
}

.imgContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  aspect-ratio: 3 /2;
  height: 100%;
  width: 100%;
}
.containerallData {
  display: flex;
  justify-content: space-between;
}

.specs {
  display: flex;
  flex-direction: column;
  width: 40%;
  color: var(--light-mode-text);
}
.border {
  display: flex;
  align-items: center;
}

.bordeCountry a {
  text-decoration: none;
  background-color: var(--dark-mode-text-and-light-mode-elements);
  box-shadow: 0px 1px 5px var(--input);
  display: inline-block;
  font-size: 12px;
  padding: 0.25rem 1rem;
  margin: 0 0.5rem 0.25rem 0.5rem;
  color: var(--light-mode-text);
}

.bordeCountry a:hover {
  background-color: rgba(128, 128, 128, 0.603);
}
.loader {
  margin: 1rem auto;
  display: block;
  width: 4rem;
  height: 4rem;
}

.containerArrowTop {
  background-color: var(--dark-mode-background);
  height: 60px;
  width: 60px;
  position: fixed;
  border: none;
  z-index: 999;
  bottom: 1vh;
  right: 6vw;
  display: none;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.scrollTop {
  background: var(--arrow-Top);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  margin-bottom: 0.2rem;
  display: none;
}
.visible {
  display: flex;
}
/* Cards */
@media screen and (max-width: 428px) {
  .containerheader {
    width: 90%;
  }
  .header_title {
    font-size: 18px;
  }
  #containerFlags {
    width: 70%;
    margin: 0 auto;
  }
  .searchCountry {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  .searchCountry input {
    width: 85%;
  }
  .select-flag {
    display: block;
    position: relative;
    width: 50%;
    margin-left: 1.2rem;
  }
  .flag {
    background-color: var(--dark-mode-text-and-light-mode-elements);
    display: grid;
    width: 100%;
    box-shadow: 0px 1px 5px var(--input);
    border-radius: 10px;
    margin: 1rem auto;
  }
  .flag_image {
    width: 100%;
    height: auto;
  }
  .filter {
    display: none;
  }

  .container-flag {
    flex-direction: column;
    width: 80%;
    margin: 0 auto 2rem;
  }

  .imgContainer {
    width: 100%;
  }
  .specs {
    width: 100%;
  }
  .containerallData {
    flex-direction: column;
  }

  .country-spec,
  .frontier,
  .border {
    margin: 0;
    font-size: 14px;
    width: 100%;
  }

  .border {
    flex-direction: column;
  }
  .border p {
    font-size: 16px;
    display: block;
  }

  /* Flag */
  .bordeCountry {
    align-self: flex-start;
  }
  .backHome {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-left: 38px;
    background-color: var(--dark-mode-text-and-light-mode-elements);
    border: none;
    outline: none;
    box-shadow: 0px 1px 5px var(--input);
  }

  .backHome img {
    transform: rotate(-90deg);
    width: 20%;
    margin-right: 1rem;
  }

  .title {
    font-size: 1.5rem;
    color: var(--light-mode-text);
  }

  .border p {
    align-self: flex-start;
  }

  .bordeCountry span {
    display: inline-block;
    font-size: 12px;
    padding: 0.25rem 1rem;
    background-color: var(--dark-mode-text-and-light-mode-elements);
    box-shadow: 0px 1px 5px var(--inputs);
    margin: 0.5rem;
  }
  .loader {
    margin: 1rem auto;
    display: block;
    width: 4rem;
    height: 4rem;
  }
}
